/api/.env
.env

#コミットしたくなったら
#git update-index --no-assume-unchanged api/.env
#コミットしたくないなら
#git update-index --assume-unchanged api/.env


/frontend/public/jsmind/.DS_Store
/frontend/public/jsmind/node_modules/
/frontend/public/jsmind/es6/*.js
/frontend/public/jsmind/es6/*.js.map
